@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@400;500;600;700&display=swap");

:root {
  --neutral-black: #000;
  --neutral-white: #fff;
  --light-yellow: #fca311;
  --light_gray: #e5e5e5;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--neutral-black);
  color: var(--neutral-white);
  font-family: "Montserrat", sans-serif;
}

p {
  color: var(--light_gray);
}

/* utils */
.container {
  max-width: 1200px;
  margin: 0 auto;
}

.text-center {
  text-align: center;
}

.mt-1 {
  margin-top: 1rem;
}

.mr-1 {
  margin-right: 1rem;
}

.btn {
  padding: 1rem;
  border: none;
  border-radius: 0.5rem;
  font-size: 1.2rem;
  cursor: pointer;
  transition: transform 0.2s ease-in-out;
}

.btn:hover {
  transform: translateY(-2px);
}

.btn-primary {
  background-color: var(--light-yellow);
  color: var(--neutral-white);
}

.btn-outline {
  background: transparent;
  border: 2px solid var(--light-yellow);
  color: var(--light-yellow);
}

/* ------------------- */

/* navbar */
.navbar {
  height: 60px;
  padding: 0 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav_brand {
  letter-spacing: 10px;
}

/* header */
header {
  height: 80vh;
}

.header_title {
  font-family: "Roboto Mono", monospace;
  font-size: 4.5rem;
}

.header_btn_section {
  margin-top: 20px;
  display: flex;
  justify-content: center;
}

/* main section */
.features {
  padding: 0 30px 30px 30px;
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
}

.card {
  padding: 0.5rem;
}

.card > p {
  margin-top: 0.5rem;
}

/* video section */
.video_section {
  padding: 30px;
  border-top: 1px solid #14213d;
  height: 80vh;
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
}

.video_section_left > h2 {
  border-left: 5px solid var(--light-yellow);
  padding-left: 10px;
}

/* footer section */
footer {
  height: 20vh;
}

.footer_content {
  border-top: 1px solid #14213d;
  padding: 1rem;
}

/* responsive for small screen sizes */
@media screen and (max-width: 500px) {
  .features {
    grid-template-columns: repeat(2, 1fr);
  }

  .video_section {
    grid-template-columns: 1fr;
  }

  .video_section_left > h2 {
    font-size: 3rem;
  }
}
